@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Ask Question", "Index", "Question")

@model IEnumerable<StackOverfaux.Models.Question>

<h2>Questions</h2>
<ul>
    @foreach (var question in Model)
    {
        <li>
            <h4>@Html.ActionLink(@question.Title, "Details", "Question", new { id = @question.QuestionId })</h4>
            <p>@question.Date</p>
            <p>@question.BodyText</p>
            <p>@question.User.UserName</p>
        </li>        
    }
</ul>