@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Ask Question", "Index", "Question")

@model IEnumerable<StackOverfaux.Models.Question>

<h2>Questions</h2>
<ul>
    @foreach (var question in Model)
    {
        <li>
            <h4>@Html.ActionLink(@question.Title, "Details", "Question", new { id = @question.QuestionId })</h4>
            <p>@question.Date</p>
            <p>@question.BodyText</p>
            <p>@question.User.UserName</p>
            @using (Html.BeginForm("UpVote", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(thisQuestion => question.QuestionId)
                @Html.HiddenFor(thisQuestion => question.Title)
                @Html.HiddenFor(thisQuestion => question.BodyText)
                @Html.HiddenFor(thisQuestion => question.Votes)

                <button value="UpVote" class="btn btn-default">Arorw pointing up</button>
            }
            <p>@question.Votes</p>

        </li>
    }
</ul>