@using StackOverfaux.Models
@{
    ViewData["Title"] = "Question";
}



@model StackOverfaux.Models.Answer


<h4>@Model.Question.Title</h4>
<p>@Model.Question.QuestionId</p>
<p>@Model.Question.Date</p>
<p>@Model.Question.BodyText</p>
<p>@Model.Question.User.UserName</p>
<p>@Model.Question.Votes</p>

@using (Html.BeginForm("Create", "Answer", FormMethod.Post))
{

    @Html.HiddenFor(model => model.QuestionId)
    @Html.LabelFor(model => model.TextBody)
    @Html.TextBoxFor(model => model.TextBody)

    <input type="submit" value="Create" class="btn btn-default" />
}